<table>
    <thead>
<tr>
    <th>USER NAME</th>
</tr>
    </thead>
    <tbody>
    {% for account in accounts %}
        <tr>
        <div hidden class="account_id">{{ account.id }}</div>
            <td>
                {{ account.user_name }}
            </td>
            <td>
                {{ account.email }}
            </td>
            <td>
                {{ account.first_name }}
            </td>
            <td>
                {{ account.last_name }}
            </td>
            <td>
                {% if account.status != -2 %}
                    <button class="lock_account">Lock</button>
                {% else %}
                    <button class="unlock_account">Unlock</button>
                {% endif %}
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>