<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
</head>
<body>

<header>
</header>
<script src="/static/js/header.js"></script>

<section class="content">
    <div>
        <h2>PLEASE ENTER YOUR NEW PASSWORD</h2>
        <form action="" id="require_password_reset">
            {% csrf_token %}
            <input type="password" name="pwd" id="pwd" placeholder="PASSWORD">
            <input type="password" name="pwd_r" id="pwd_r" placeholder="REPEAT PASSWORD">
            <input type="button" name="submit" id='submit' value="SUBMIT">
        </form>
        <script>
            $(document).ready(function () {
                $('input[name=submit]').click(function () {
                    var password = $('input[name=pwd]').val();
                    var csrfmiddlewaretoken = $("input[name=csrfmiddlewaretoken]").val();
                    $.post('/account/reset_password', {
                        password: password,
                        csrfmiddlewaretoken:csrfmiddlewaretoken
                    }, function () {
                        $('section div').html('<h2>PASSWORD RESETTED</h2>' +
                            '<div>Wait 5 seconds, the page will go back to homepage.</div>');
                        setTimeout(function () {
                            window.location.href('../../');
                        }, 5000);
                    });
                })
            });
        </script>
    </div>
</section>
{% include 'footer.html' %}
</body>
</html>