<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
</head>
<body>

<header>
</header>
<script src="/static/js/header.js"></script>

<section class="content">
    <div>
        <h2>PLEASE ENTER YOUR EMAIL ADDRESS TO START</h2>
        <form action="" id="require_password_reset">
            <input type="email" name="email" id="email" placeholder="EMAIL">
            <input type="button" name="submit" value="SUBMIT">
        </form>
        <script>
            $(document).ready(function () {
                $('input[name=submit]').click(function () {
                    var email = $('input[name=email]').val();
                    $.get('/account/reset_password', {email: email}, function () {
                        $('section div').html('<h2>EMAIL SENT</h2>' +
                            '<div>A Email has been sent to your email address. Please click on the link to reset your password.' +
                            'Haven\'t received? Resend</div>')
                    });
                });
            });
        </script>
    </div>
</section>
{% include 'footer.html' %}
</body>
</html>