.title{
    padding-left: 1.5rem;
    line-height: 3rem;
    font-size: 1.5rem;
    border: 1px yellow solid;
    background: lightyellow;
    box-sizing: border-box;
    margin: 2rem auto;
    width: 90%;
    color: darkgoldenrod;
}
.info{
    width: 90%;
    margin: auto;
}