h2{
    border-bottom: 3px darkred solid;
    line-height: 3rem;
    padding-top: 1rem;
    padding-left: 1rem;
}
ul{
    display: inline-block;
    line-height: 2rem;
}
.topicList{
    float: right;
    width: 30%;
    min-width: 20rem;
}