form#signUpForm {
    padding-top: 2rem;
}

input[type=text],
input[type=password] {
    display: block;
    border: none;
    border-bottom: black 1px solid;
    margin-bottom: 2rem;
    width: 30rem;
    height: 1.5rem;
    line-height: 1.5rem;
}
