<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.js"></script>
</head>
<body>

<header>
</header>
<script src="/static/js/header.js"></script>

<section class="content">
    <h1>
        Site Admin
    </h1>
    <ul>
        <li>
            <a href="/newsadmin">
                News (Includes About Us)
            </a>
        </li>
        <li>
            <a href="/comment/admin">NEWS COMMENT</a>
        </li>
        <li>
            BBS
        </li>
        <li>
            Account
        </li>
        <li>
            <a href="/activity/admin">Activity</a>
        </li>
        <li>
            Index
        </li>
    </ul>
</section>

{% include 'footer.html' %}
</body>
</html>