<script src="/static/jquery_ui_1.12.1/jquery-ui.js"></script>
<table>
    <tr>
        <th>TITLE</th>
        <th>TIME CREATED</th>
        <th>TIME MODIFIED</th>
        <th>STATUS</th>
        <th>OPERATIONS</th>
    </tr>
    {% for news in newss %}
        <tr>
            <td>{{ news.title }}</td>
            <td>{{ news.time_created }}</td>
            <td>{{ news.time_modified }}</td>
            <td>{{ news.get_status_display }}</td>
            <td><a href="/newsadmin/editnews/{{ news.id }}" target="_blank">EDIT NEWS</a></td>
            <td><a href="/comment/admin?news_id={{ news.id }}&status=0">EDIT COMMENTS</a></td>
        </tr>
    {% endfor %}
</table>